@{
    ViewBag.Title = "BooksView";
    
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    
}

@using (Html.BeginForm("BooksView", "User", FormMethod.Get))
{
    @Html.TextBox("search")
    <input type="submit" name="submit" value="search" />


}

<div class="row col-md-6 col-md-offset-2 custyle">

    <table class="table table-striped custab">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>ISBN</th>
            </tr>
        </thead>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.ID</td>
                <td>@d.title</td>
                <td>@d.ISBN</td>
            </tr>

        }
    </table>
</div>



