@model LMS.Models.User
@{
    ViewBag.Title = "ProfileView";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<div id="data">
    <label>Name : @Model.name</label>
    <br />
    <label>Age : @Model.age</label>
    <br />
    <label>E-Mail : @Model.email</label>
    <br />
    <label>User Type : @Model.type</label>
</div>

