@model LMS.Models.User
@{
    ViewBag.Title = "ProfileView";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<div class="row">
    <div class="col-sm-6 col-md-2">
        <img src="http://www.imran.com/xyper_images/icon-user-default.png"
             alt="" class="img-rounded img-responsive" />
    </div>
    <div class="col-sm-4 col-md-4">
        <blockquote>
            <p>@Model.UserName</p> <small><cite title="Source Title">Adress  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
        </blockquote>
        <p>
            <i class="glyphicon glyphicon-envelope"></i> @Model.Email
            <br /> <i class="glyphicon glyphicon-gift"></i>@Model.DOB
        </p>
    </div>
</div>


