@{
    ViewBag.Title = "BooksView";
    
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    
}

<div class="row" style="z-index:-1">
    <div class="col-sm-3">
    @using (Ajax.BeginForm("SearchBooks", "Book", new AjaxOptions { UpdateTargetId = "ajax" }))
    {
        @Html.TextBox("search")
        <input type="submit" id="btnSearch" name="submit" value="search" />
    }
    </div>

    <div class="col-sm-6">
        <div id="ajax">
            @Html.Partial("~/Views/Partials/SearchBooks.cshtml")
        </div>
        
    </div>
</div> 




