@model LMS.Models.Book
@{
    ViewBag.Title = "RemoveBook";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="main">
    @using (Html.BeginForm("Update", "Book", FormMethod.Post))
    {
        <label>ID : @Model.ID</label>
        @Html.TextBoxFor(a => a.title)
        <br />
        @Html.TextBoxFor(a => a.ISBN)
        <input type="submit" value="Update" />
    
</div>


