
@{
    Layout = null;
}
<table class="table table-striped custab">
    <tr>
        <th>User Name </th>
        <th>Book Name</th>
        <th></th>
    </tr>
    @foreach (var r in ViewBag.Retrievals)
            {
        <tr>
            <td>@r.user.UserName</td>
            <td>@r.book.title</td>
            <td>@Html.ActionLink("Accept", "AcceptRetrievals", "Book", new { userId = r.user.Id, bookId = r.book.ID }, null)</td>
        </tr>

    }
</table>